.img{
    background-image: url(./img/img01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.499);
    height: 100vh;
    color: white;
    text-align: center;
   
    font-size: 100px;
}
.p{
    font-size: 30px;
}
.button{
    background-color:orange;
    size: 20px;
}
.img1{
    background-color: rgba(255, 166, 0, 0.431);
    height: 60vh;

}
.button01{
    background-color: orange;
    size: 100px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
}
.img2{
    background-color: rgb(240, 251, 255);
    height: 20vh;
}
.img3{
    width: 300px;
    height: 300px;
}
.form{
    background-color: white;
    width: 500px;
    padding: 40px;
    border: 1px;
    border-radius: 5px;
}
.h1{
    color:  #E7933B;
    font-size: 38px;;
}
.h3{
    color: #E7933B;
}
.input-1{
    padding: 4px;
}
.input-2{
    padding: 4px;
}
.input-3{
    padding: 4px;
}
.input-4{
    padding: 2px;
}
.img3{
    margin:left;
    border: 2px solid;
}
.img2{
    background-color: rgba(255, 166, 0, 0.894);
    height: 60vh;
    padding: 15px;
    color: white;
}